@tailwind base;
@tailwind components;
@tailwind utilities;

* body {
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
/* @font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
/* @font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap");
  font-weight: 500;
} */